/* This is the first page */
.intro {
    background-image: url('//farm4.staticflickr.com/3722/9561529074_375589b492_b.jpg');
    border: 2rem solid black;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

  
.buttons li {
    display:inline-block;
    margin-top:130rem;
    list-style-type: none;
    width: 9.688rem;
    border: 1 solid white;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    color: white;
    font-size: 1.125em;
}
button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

    


/* This is the knowledge page */
.knowledge_background {
    background-image: url('//farm4.staticflickr.com/3722/9561529074_375589b492_b.jpg');
    border: 2rem solid black;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
.back_content .h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 4em;
    font-weight: 300;
    color: #707070 ;
}
.back_content .back_examples li {
   
   display: inline-block;
   height: 300px;
   width: 250px;
   background-color: teal;
   
    
}

/* This is the happiness page */
.happiness_background {
    background-image: url('//farm4.staticflickr.com/3722/9561529074_db0f9db886_b.jpg');
    border: 2rem solid #696969;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}


.happiness_background .content {
    text-align: left;
    margin-top: 200px;
    font-size: 1.4em;
    color: #dcdcdc;
}

.happiness_footer .footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: none;
  text-align: center;
  color: #FFF8DC;
}

