/* This is the first page */
.intro {
    background-image: url("http://farm4.staticflickr.com/3086/3162028306_a670ca7fa5_o.jpg");
    border: 1.5rem solid #696969;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 25px;
    overflow: auto;
}

.intro_words {
    padding: 2rem;
    color: #FFF8DC;
}  
.buttons li {
    display:inline-block;
    margin-top:40rem;
    margin-bottom: 20rem;
    list-style-type: none;
    width: 9.688rem;
    border: 1 solid #dcdcdc;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    color: #FFF8DC;
    font-size: 1.125em;
}
button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

    


/* This is the knowledge page */
.knowledge_background {
    background-image: url("//farm4.staticflickr.com/3395/3449357520_fa70f30c89_b.jpg");
    border: 2rem solid #696969;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}
.back_content .h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 4em;
    font-weight: 300;
    color: #707070 ;
}
.back_content .back_examples li {
   
   display: inline-block;
   height: 300px;
   width: 250px;
   background-color: teal;
   
    
}

/*/* This is the happiness page */
.happiness_background {
    background-image: url("http://farm3.staticflickr.com/2828/9561386016_33b0f09084_b.jpg");
    border: 2rem solid #696969;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 25px;
    overflow: auto;
}


.happiness_background .content {
    text-align: left;
    margin-top: 70px;
    font-size: 1.4em;
    color: #dcdcdc;
    padding: 25px;
}

 .footer {
  position: relative;
  margin: -3rem;
  text-align: center;
  background-color: none;
  color:  #dcdcdc;
  font-size: 1rem;
}
